@import './utils/variables';
@import './base/common';
@import './base/container';
@import './components/buttons';
@import './components/logo';
@import './components/socials';
@import './components/filter_list';
@import './components/modal';
@import './components/modal-form';
@import './components/policy';
@import './components/overlay';
@import './components/subscription';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/advantages';
@import './layouts/about-us';
@import './layouts/our-team';
@import './layouts/team-member';
@import './layouts/customers';
@import './layouts/portfolio';
@import './layouts/footer';
