.subscription {
  flex-basis: calc(50% - 15px);
}

.subscription__actions {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}
.subscription__form {
  display: flex;
  justify-content: space-between;

  & ::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscription__form__field {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px;
  margin-bottom: 0px;
  color: var(--main-title-color);
}

.subscription__btn-submit {
  border: none;
  display: flex;
  padding: 10px 28px;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-title-color);
  font-weight: 700;
  line-height: 1.87;
  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-left: 12px;
  align-items: center;
}

.subscription__icon {
  margin-left: 10px;
}
