:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --accent-buton-color: #188ce8;
  --filter-button-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --logo-dark-color: #000000;
  --main-title-color: #ffffff;
  --light_bg-color: #f5f4fa;
  --icon_color: #afb1b8;
  --animation-proprety: cubic-bezier(0.4, 0, 0.2, 1);
}
