.about-us {
  padding-top: 0;
}

.about-us__item + .about-us__item {
  margin-left: 30px;
}

.about-us__container {
  padding-top: 0px;
}

.about-us__list {
  display: flex;
}

.about-us__item {
  position: relative;
}

.about-us__list-title {
  position: absolute;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--main-title-color);
  background-color: rgba(47, 48, 58, 0.8);
}
