.customers__list {
  display: flex;
}

.customers__item + .customers__item {
  margin-left: 30px;
}

.customers__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 170px;
  border: 1px solid var(--icon_color);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon_color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-proprety);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-text-color);
  }

  &:hover .customers__logo,
  &:focus .customers__logo {
    fill: var(--accent-text-color);
  }
}

.customers__logo {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-proprety);
}
