.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__links {
  display: flex;
  align-items: center;
  margin-left: -50px;
}
.header__contacts {
  display: flex;
  align-items: center;
}

.header__item {
  position: relative;
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
  }
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-text-color);
  border-radius: 2px;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__contact-link {
  display: inline-flex;
  align-items: center;
  color: var(--main-text-color);

  &:hover .header__icon {
    fill: var(--accent-text-color);
  }
}

.header__icon {
  fill: var(--main-text-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-proprety);
}
