.portfolio-item__meta {
  height: 100%;
  background: #ffffff;

  padding: 20px 24px;
}

.portfolio-item__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-right: -30px;
  margin-top: -30px;
}

.portfolio-item {
  background: #ffffff;
  flex-basis: calc((100% - (30px * 1)) / 1);
  margin-top: 30px;
  margin-right: 30px;
  margin-top: 30px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  &:hover .overlay {
    transform: translatey(0);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - (30px * 2)) / 2);
    margin-right: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (30px * 3)) / 3);
    margin-right: 30px;
    margin-top: 30px;
  }
}

.portfolio-item__link {
  display: block;
  transition-property: color, box-sizing, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-proprety);

  &:hover,
  &:focus {
    color: var(--title-text-color);
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-item__img {
  position: relative;
  overflow: hidden;
}
